body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
}