{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if message %}
    <div id="user-does-not-exist">{{message}}</div>
    {% else %}
        <div id="profile-header">
            <h1 id="profile_username">{{ profile_user.username }}</h1>
            {% if user.is_authenticated %}
                    {% if author == False %}
                        <button id="follow" class="btn btn-sm btn-outline-primary" data-username="{{profile_user.username}}"></button>
                    {% endif %}
            {% endif %}
        </div>
        <div class="all-posts">

        </div>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}