img {
    max-width: 500px;
    max-height: 300px; 

    height: auto;

    border: 3px solid #333;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);

    display: block;
    margin: 0 auto;
}