#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.gameGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.gameCard {
  width: 100px;
  height: 150px;
  border-radius: 8px;
}

.gameCard:hover {
  cursor: pointer;
  animation: cardHover 0.2s ease-out forwards;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

@keyframes cardHover {
  0% {
    transform: scale(1) rotate(0deg);
  }

  70% {
    transform: scale(1.7) rotate(var(--peak));
  }

  100% {
    transform: scale(1.5) rotate(var(--tilt));
  }
}