#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.gameGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.gameCard {
  width: 100px;
  height: 150px;
  border-radius: 8px;
  animation: var(--slide-animation) 0.6s ease-out forwards;
}

@keyframes slideFromTop {
  from {
    transform: translateY(calc(-50vh - 75px));
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideFromBottom {
  from {
    transform: translateY(calc(50vh + 75px));
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(calc(-50vw - 50px));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(calc(50vw + 50px));
  }
  to {
    transform: translateX(0);
  }
}

.gameCard:hover {
  cursor: pointer;
  animation: cardHover 0.2s ease-out forwards;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

@keyframes cardHover {
  0% {
    transform: scale(1) rotate(0deg);
  }

  70% {
    transform: scale(1.7) rotate(var(--peak));
  }

  100% {
    transform: scale(1.5) rotate(var(--tilt));
  }
}