#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.gameGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.gameCard {
  width: 100px;
  height: 150px;
  background-color: brown;
  border-radius: 8px;
}
